# Exercice 1 

Reproduisez le tutoriel en le traduisant (y compris au niveau
du code) en Français jusqu’à la section Reshaping (inclus - Vous vous arrêterez avant la partie Time Series).

URL: http://pandas.pydata.org/pandas-docs/stable/10min.html

# 10 minutes pour apprendre Pandas

In [2]:
## importation des fichiers 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Creation d'objet

création de serie:

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Création d'un DataFrame en utilisant un tableau numpy, avec un index datetime et des colonnes étiquetées:

In [7]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.834733 -0.340077 -0.293516 -1.010242
2013-01-02  1.235326  0.183098  0.564862  0.672198
2013-01-03  0.744912  0.124694  0.002905 -1.458046
2013-01-04 -0.876646 -0.620450  1.264055  0.151873
2013-01-05 -0.374591 -0.759646  0.574730  0.077526
2013-01-06  0.205460  0.113875  1.134339  0.760087

Création d'un DataFrame en utilisant un dict d'objets qui peuvent être convertis en séries.

In [12]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Avoir des dtypes specific

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Si vous utilisez IPython, l'achèvement des tabulations (tab complexion) pour les noms de colonnes (ainsi que les attributs publics) est automatiquement activé. Voici un sous-ensemble des attributs qui seront complétés:

In [14]:
 df2.<TAB>
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.D

SyntaxError: invalid syntax (<ipython-input-14-915637deb483>, line 1)

Comme vous pouvez le voir, les colonnes A, B, C et D sont automatiquement complétées. E aussi d'ailleurs; le reste des attributs a été tronqué par souci de concision.

# Visualisation des données

In [15]:
df.head()

                   A         B         C         D
2013-01-01  1.834733 -0.340077 -0.293516 -1.010242
2013-01-02  1.235326  0.183098  0.564862  0.672198
2013-01-03  0.744912  0.124694  0.002905 -1.458046
2013-01-04 -0.876646 -0.620450  1.264055  0.151873
2013-01-05 -0.374591 -0.759646  0.574730  0.077526

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.876646 -0.620450  1.264055  0.151873
2013-01-05 -0.374591 -0.759646  0.574730  0.077526
2013-01-06  0.205460  0.113875  1.134339  0.760087

Afficher l'index, les colonnes et les données numériques (numpy data) sous-jacentes

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
 df.values

array([[ 1.83473294, -0.3400767 , -0.29351645, -1.01024183],
       [ 1.23532622,  0.18309762,  0.5648617 ,  0.67219827],
       [ 0.74491217,  0.12469424,  0.0029052 , -1.45804602],
       [-0.87664561, -0.62045004,  1.26405458,  0.15187323],
       [-0.3745906 , -0.75964583,  0.57472996,  0.07752568],
       [ 0.20546028,  0.11387542,  1.13433899,  0.76008729]])

afficher un résumé rapide au niveau statistique (summary) de vos données -> on utilise describe

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.461533 -0.216418  0.541229 -0.134434
std    1.011942  0.414414  0.610333  0.905175
min   -0.876646 -0.759646 -0.293516 -1.458046
25%   -0.229578 -0.550357  0.143394 -0.738300
50%    0.475186 -0.113101  0.569796  0.114699
75%    1.112723  0.121990  0.994437  0.542117
max    1.834733  0.183098  1.264055  0.760087