# Exercice 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Question 1 - Série

In [3]:
s = pd.Series(['Big Data pour la Transformation Numérique', 'Architecture et Sécurité des Réseaux',
               'Ingénieur d’Affaires : Informatique et Réseaux', 'Ingénierie des Services du Numérique',
               'Ingénieur Finance', 'Automatique et Robotique Industrielle', 'Énergie et Développement Durable',
               'Génie Électrique et Transport', 'Ingénieur d’Affaires : Distribution Énergie et Signaux',
               'Mécatronique Génie Électrique', 'Ingénierie des Systèmes Embarqués : Véhicule Autonome',
               'Ingénierie des Systèmes Embarqués : Objets Communicants', 'Ingénierie des Systèmes Médicaux',
               'Electronique des Systèmes pour l’Automobile et l’Aéronautique', 'Ingénierie Télécom'],
              ['BDTN', 'ASR', 'IA-IR', 'ISN', 'IF', 'ARI', 'EDD', 'GET', 'IA-DES', 'MCTGE', 'ISE-VA', 'ISE-OC',
               'ISYMED', 'ESAA', 'ICOM'])

In [4]:
s

BDTN              Big Data pour la Transformation Numérique
ASR                    Architecture et Sécurité des Réseaux
IA-IR        Ingénieur d’Affaires : Informatique et Réseaux
ISN                    Ingénierie des Services du Numérique
IF                                        Ingénieur Finance
ARI                   Automatique et Robotique Industrielle
EDD                        Énergie et Développement Durable
GET                           Génie Électrique et Transport
IA-DES    Ingénieur d’Affaires : Distribution Énergie et...
MCTGE                         Mécatronique Génie Électrique
ISE-VA    Ingénierie des Systèmes Embarqués : Véhicule A...
ISE-OC    Ingénierie des Systèmes Embarqués : Objets Com...
ISYMED                     Ingénierie des Systèmes Médicaux
ESAA      Electronique des Systèmes pour l’Automobile et...
ICOM                                     Ingénierie Télécom
dtype: object

In [5]:
df = pd.DataFrame(s)

In [6]:
df['departement'] = ['TIC','TIC','TIC','TIC','TIC','GEE','GEE','GEE','GEE','SEI','SEI','SEI','SEI','ET','ET']

In [7]:
df.columns = ['Dominante', 'Departement']

In [8]:
df

                                                Dominante Departement
BDTN            Big Data pour la Transformation Numérique         TIC
ASR                  Architecture et Sécurité des Réseaux         TIC
IA-IR      Ingénieur d’Affaires : Informatique et Réseaux         TIC
ISN                  Ingénierie des Services du Numérique         TIC
IF                                      Ingénieur Finance         TIC
ARI                 Automatique et Robotique Industrielle         GEE
EDD                      Énergie et Développement Durable         GEE
GET                         Génie Électrique et Transport         GEE
IA-DES  Ingénieur d’Affaires : Distribution Énergie et...         GEE
MCTGE                       Mécatronique Génie Électrique         SEI
ISE-VA  Ingénierie des Systèmes Embarqués : Véhicule A...         SEI
ISE-OC  Ingénierie des Systèmes Embarqués : Objets Com...         SEI
ISYMED                   Ingénierie des Systèmes Médicaux         SEI
ESAA    Electronique des Systèmes pour l’Automobile et...          ET
ICOM                                   Ingénierie Télécom          ET

In [9]:
collocation = pd.DataFrame({'Nom': ['BERGEOT', 'CASANOVA', 'DECHASSE', 'PERRIN'],
                   'Prénom': ['Melanie', 'Gabriel', 'Antoine', 'Jean-Loup'],
                   'Dominante' : ['BDTN', 'ISE-OC', 'ISE-OC', 'ISE-VA']},
                  index = [1, 2, 3, 4])

In [10]:
collocation

  Dominante       Nom     Prénom
1      BDTN   BERGEOT    Melanie
2    ISE-OC  CASANOVA    Gabriel
3    ISE-OC  DECHASSE    Antoine
4    ISE-VA    PERRIN  Jean-Loup

In [11]:
pourcentage = pd.DataFrame({'Pourcentage' : [(1/4)*100, (2/4)*100, (1/4)*100]},
                  index = ['BDTN', 'ISE-OC','ISE-VA'])

In [12]:
pourcentage

        Pourcentage
BDTN           25.0
ISE-OC         50.0
ISE-VA         25.0

In [13]:
ipython nbconvert --to csv Exercice 2 - Pandas.ipynb

SyntaxError: invalid syntax (<ipython-input-13-99df55654957>, line 1)